@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="maindiv">
    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; min-width:100%; margin-bottom:20px">How Does It Work</h1>
    <span style="font-style:italic; width:100%; margin-bottom:30px">Excepreur sint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</span>
    <div class="secdiv">
        <img src="~/img/intshipping.png" /> <br>
        <span class="titlespan">International Shipping</span> <br>
        <span class="descspan">
            You can now buy products from USA stores that do not ship internationally. How?
            Place an order on our website and we'll buy the items on your behalf and ship them to your internation address.
        </span>
    </div>
    <div class="secdiv">
        <img src="~/img/accessdiscovery.png" /> <br>
        <span class="titlespan">Access & Discovery</span> <br>
        <span class="descspan">
            Get access to exclusive products that are not available in your country. New brands and stores are added to our platform daily.
            you can rely on Big Apple Buddy to help you discover the latest products from the USA.
        </span>
    </div>
    <div class="secdiv">
        <img src="~/img/persservice.png" /> <br>
        <span class="titlespan">Personalized Service</span> <br>
        <span class="descspan">
            We understad that every purchase is unique which is why your order will be handled by a member of our team from start to finish.
            All enquiries will be answered within 24 hours, 7 days a week.
        </span>
    </div>
    <div style="align-items:center; justify-content:center; width:100%">
        <button style="background-color:black; color:lightgrey" onclick="location.href='https://google.com';">LEARN MORE</button>
    </div>
</div>